:root {
  --mainColor: #15202b;
  --secondaryColor: #192734;
  --borderColor: #164d56;
  --mainText: #fff;
  --secondaryText: #eeeeee;
  --previewBg: rgb(25, 39, 52, 0.8);
  --previewShadow: #111921;
}

html,
body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--mainText);
  font-family: "Russo One", sans-serif;
  font-weight: 500;
}
p,
li,
span,
label,
input,
textarea {
  color: var(--secondaryText);
  font-family: "Roboto Mono", monospace;
}

a {
  font-family: "Russo One", sans-serif;
  text-decoration: none;
  color: #17a2b8;
}

h1 {
  font-size: 56px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

.s1 {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}
.s2 {
  background-color: var(--secondaryColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}
.main-container {
  width: 1200px;
  margin: 0 auto;
}
.greeting-container {
  display: grid;

  text-align: center;
  align-content: center;
  min-height: 10em;
}
.intro-wrapper {
  background-color: var(--secondaryColor);
  border: 1px solid var(--borderColor);
  border-radius: 5px 5px 0 0;

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

  display: grid;
  grid-template-columns: 1fr 1fr;

  grid-template-areas:
    "nav-wrapper nav-wrapper"
    "left-column right-column";
}
.nav-wrapper {
  grid-area: nav-wrapper;
  border-radius: 5px 5px 0 0;
  border: 1px solid var(--borderColor);
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mainColor);
}
.left-column {
  grid-area: left-column;
  padding-top: 50px;

  padding-bottom: 50px;
  display: grid;
  justify-content: center;
}
.right-column {
  grid-area: right-column;
  display: grid;
  align-content: center;

  padding-top: 50px;
  padding-bottom: 50px;
}

.corner {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: #fff;
  border: 1.5px solid #17a2b8;
  position: absolute;
}
.about-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: center;
  align-content: center;
}
.about-me {
  width: 85%;
  margin-left: 30px;
}
#corner-tl {
  top: -5px;
  left: -5px;
}
#corner-tr {
  top: -5px;
  right: -5px;
}
#corner-bl {
  bottom: -5px;
  left: -5px;
}
#corner-br {
  bottom: -5px;
  right: -5px;
}
#profile_pik {
  display: block;
  margin: 0 auto;
  position: absolute;
  border-radius: 5px;
  height: 230px;
  top: 10px;
  left: 10px;

  width: 230px;
  object-fit: cover;
}
.skills-wrapper {
  margin-left: 30px;
}
.post-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 30px;
  padding-bottom: 50px;
  padding-top: 20px;
  justify-content: center;
}

.post {
  border: 2px solid var(--borderColor);
  -webkit-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
}
.post-preview {
  background-color: #fff;
  padding: 15px;
}
.post-title {
  color: black;
  margin: 0;
}
.post-intro {
  color: #4b5156;
  font-size: 14px;
}

#skills {
  margin-top: 20px;
}
.item {
  margin-top: 15px;
  font-weight: 600;
  font-size: 16px;
}
#img-shadow {
  border: 1.5px solid #17a2b8;
  width: 230px;
  height: 230px;

  position: relative;
  border-radius: 5px;
}
#preview {
  width: 500px;
  border: 1.5px solid #17a2b8;
  background-color: var(--previewBg);
  padding: 15px;
  position: relative;
}
#preview-shadow {
  background-color: var(--previewShadow);
  width: 520px;
  height: 150px;
  padding-left: 15px;
  padding-top: 15px;
}

.upper {
  display: grid;
  grid-template-columns: 1fr 0.2fr 1fr;

  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--borderColor);
  background-color: #15202b;
  padding: 4em 0 4em;
}
.left {
  display: flex;
  margin-left: 30px;
  flex-direction: column;
  align-items: flex-start;
}
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.qr-code {
  height: 170px;
  width: 170px;
}
.title {
  display: flex;
  align-items: center;
}
.middle {
  background-color: #192734;
  border-bottom: 1px solid var(--borderColor);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.description {
  margin-left: 30px;
}
.stack {
  margin-left: 30px;
}
.lower {
  display: grid;
  background-color: #15202b;
}
.screenshots {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;

  flex-wrap: wrap;
}
.ss {
  height: 600px;
  width: 330px;
  margin: 10px;

  object-fit: contain;
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 95%;
  }
  #preview {
    width: 300px;
  }
  #preview-shadow {
    width: 300px;
  }
}
@media screen and (max-width: 800px) {
  .intro-wrapper {
    grid-template-columns: 1fr;

    grid-template-areas:
      "nav-wrapper "
      "left-column "
      "right-column";
  }
  .right-column {
    justify-content: center;
  }
  #preview {
    width: 300px;
  }
  #preview-shadow {
    width: 300px;
  }
  .upper {
    grid-template-columns: 1fr;
  }
  .middle {
    grid-template-columns: 1fr;
  }
}
